################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CryptFolio-UWP/.vs/CryptFolio/v15
